:root, :host {
    --md-sys-color-background: #fcf8ff;
    --md-sys-color-on-background: #1b1b22;
    --md-sys-color-surface: #fcf8ff;
    --md-sys-color-surface-dim: #dcd8e3;
    --md-sys-color-surface-bright: #fcf8ff;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f6f2fd;
    --md-sys-color-surface-container: #f0ecf7;
    --md-sys-color-surface-container-high: #eae6f1;
    --md-sys-color-surface-container-highest: #e5e1ec;
    --md-sys-color-on-surface: #1b1b22;
    --md-sys-color-surface-variant: #e4e0f2;
    --md-sys-color-on-surface-variant: #474553;
    --md-sys-color-inverse-surface: #302f38;
    --md-sys-color-inverse-on-surface: #f3effa;
    --md-sys-color-outline: #777585;
    --md-sys-color-outline-variant: #c8c4d6;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #544dc6;
    --md-sys-color-primary: #372da9;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #5c55cf;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #c4c0ff;
    --md-sys-color-secondary: #5c5989;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #d4d0ff;
    --md-sys-color-on-secondary-container: #3d3b68;
    --md-sys-color-tertiary: #751375;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #9f3e9c;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
}

[data-theme="dark"] {
    --md-sys-color-background: #13131a;
    --md-sys-color-on-background: #e4e1ec;
    --md-sys-color-surface: #13131a;
    --md-sys-color-surface-dim: #13131a;
    --md-sys-color-surface-bright: #393840;
    --md-sys-color-surface-container-lowest: #0e0d15;
    --md-sys-color-surface-container-low: #1b1b22;
    --md-sys-color-surface-container: #1f1f26;
    --md-sys-color-surface-container-high: #2a2931;
    --md-sys-color-surface-container-highest: #35343c;
    --md-sys-color-on-surface: #e4e1ec;
    --md-sys-color-surface-variant: #474553;
    --md-sys-color-on-surface-variant: #c8c4d6;
    --md-sys-color-inverse-surface: #e4e1ec;
    --md-sys-color-inverse-on-surface: #302f38;
    --md-sys-color-outline: #918f9f;
    --md-sys-color-outline-variant: #474553;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #c4c0ff;
    --md-sys-color-primary: #c4c0ff;
    --md-sys-color-on-primary: #231197;
    --md-sys-color-primary-container: #2d21a0;
    --md-sys-color-on-primary-container: #c9c6ff;
    --md-sys-color-inverse-primary: #544dc6;
    --md-sys-color-secondary: #c4c1f7;
    --md-sys-color-on-secondary: #2d2b57;
    --md-sys-color-secondary-container: #3d3b68;
    --md-sys-color-on-secondary-container: #d4d0ff;
    --md-sys-color-tertiary: #ffa9fa;
    --md-sys-color-on-tertiary: #5a005f;
    --md-sys-color-tertiary-container: #68046e;
    --md-sys-color-on-tertiary-container: #ffb2f9;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
}